<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @move.from %>
</p>

<p>
  <b>To:</b>
  <%= @move.to %>
</p>


<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
