<% black_pieces = %w(&#9820; &#9822; &#9821; &#9819; &#9818; &#9821; &#9822; &#9820;) %>
<% black_pawns = Array.new(8, "&#9823;") %>

<% white_pieces = %w(&#9814; &#9816; &#9815; &#9813; &#9812; &#9815; &#9816; &#9814;) %>
<% white_pawns = Array.new(8, "&#9817;") %>

<% empty_row = Array.new(8, "") %>

<div id="board">
  <%= render 'row', pieces: black_pieces, black_first: 0 %>
  <%= render 'row', pieces: black_pawns, black_first: 1 %>
  <% 4.times do |i| %>
    <%= render 'row', pieces: empty_row, black_first: i.even? ? 0 : 1 %>
  <% end %>
  <%= render 'row', pieces: white_pawns, black_first: 0 %>
  <%= render 'row', pieces: white_pieces, black_first: 1 %>
</div>