<h1><%= link_to 'games', root_url %></h1>

<nav>
  <p><%= link_to 'start a game', new_game_url, id: 'new_game_button', class: 'game_li' %></p>
  <%= render 'games/form' %>
</nav>

<ul id="game_list">
<% @games.each do |game| %>
  <li class="game_li">#<%= game.id %> <%= link_to "#{time_ago_in_words(game.created_at)} ago", game %> <%= link_to '&#215'.html_safe, game, method: :delete, data: { confirm: 'Delete this game?' } %></li>
<% end %>
</ul>
